<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/header.ejs') %>
            <div class="w-[70%] mx-auto">
                <div class="flex items-center gap-6 my-16">
                    <img src="/images/smoothie.png" alt="" class="w-64">
                    <div>
                        <h1 class="text-5xl font-bold">Smoothie Recipes</h1>
                        <p class="my-4">By Ninjas For Ninjas</p>
                        <div class=" mt-10">
                            <a href="/smoothies" class="bg-yellow-500 hover:bg-yellow-400 px-4 py-2 rounded-full capitalize">View Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    </html>